$(function() {

  refresh('admin_shellserver_node',!
  

  <div style="float:left;">
      
      {% for shellserver in shellservers %}
      <ul>
          <li><b>{{ shellserver.port }}</b></li>
          {% ifequal shellserver.state "off" %}
          <li><p></p>
              <ul>
                  <li><a href="javascript:RPC(\'admin_shellserver_start\', [\'{{ shellserver.port }}\'] );">Start</a></li>
              </ul>
          </li>
          {% endifequal %}
          
          {% ifequal shellserver.state "on" %}
          <li>
              <ul>
                  <li><a href="javascript:RPC('admin_shellserver_stop', ['{{ shellserver.port }}'] );">Stop</a></li>
                  <li><a href="javascript:RPC('admin_shellserver_restart', ['{{ shellserver.port }}'] );">Restart</a></li>
              </ul>
          </li>
          {% endifequal %}
      </ul>
      <br>
      {% endfor %}
      
  </div>
  
  !);
  
})();




