{% extends "base.html" %}
{% block title %}About Ecoude{% endblock %}
{% block content %}
<br>
<div id="titlediv">
<center>
Architecture of Ecoude
</center>
<br>
</div>
<br>
<center>
<img src="/static/images/system/django.gif">
</center>
<br>
<div id="titlediv">
<center>
Author
</center>
<br>
</div>
<div style="float:center;color:white;text-align:left;margin-left:5px;margin-right:5px;">
<h2>
        Michal Cisarik alias "cisary", Slovak republic
</h2>
    <br>
    Attending Technical university of Ostrava for 4 years. This project was created as my final bachelor work. For any comments or bugs reports please send mail to <b>cisary@gmail.com</b>. You are all welcome!
    My old website is <a href="http://homel.vsb.cz/~cis027">http://homel.vsb.cz/~cis027</a></div>
    <br>
</fieldset>
<br>
{% endblock %}
