{% extends "base.html" %}
{% block meta %}
<script type="text/javascript" src="/static/js/ste/SimpleTextEditor.js"></script> 
<link rel="stylesheet" type="text/css" href="/static/css/SimpleTextEditor.css"> 
<script language="javascript" src="/static/js/datepick/ts_picker.js">//Script by Denis Gritcyuk: tspicker@yahoo.com</script>
<link rel="stylesheet" type="text/css" href="/static/css/calendar.css"/>
{% endblock %}
{% block title %}Ecoude{% endblock %}
{% block content %}
<br>
<div id="titlediv">
<center>
Welcome
</center>
<br>
</div>
<br>
<center>
<div style="float:center;color:white;text-align:left;margin-left:5px;margin-right:5px;">
    
    
Ecoude was created to make programming of evolutionary algorithms by multiple public available frameworks easier then ever before.
The goal was to create single online integrated development enviroment for several frameworks written in various languages.
Collect problems which are ideal for evolutionary algorithms or problems which arent solved by them yet.
Users can share ideas, todos, links of problems or projects and also share source codes by creating public projects.
Build process of projects is fully automatic and all activity is handled by server.
It's possible to monitor progress of evolutionary algorithms, catch best solutions and save them as outputs to manage statistical information of projects.
</div>
</center>
</fieldset>
<br>
{% endblock %}
