{% extends "base.html" %}
{% block title %}{{ cat_title }}{% endblock %}
{% block meta %}
<script src="/static/js/calendar.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/static/css/calendar.css"/>
<script type="text/javascript"> 
function confirmation() {
	var answer = confirm("Do you really want to delete problem {{ cat_title }} ?")
	if (answer){
		window.location = "/problem/{{id}}?delete=true";
	}
	else{
	}
}
</script>
{% ifequal timeline "True" %}
{% include "timeline.html" %}
  Timeline.loadXML("/static/xml/problem.{{id}}.xml", function(xml, url) { eventSource.loadXML(xml, url); });
}
</script>
{% endifequal %}
{% endblock %}
{% block content %}
{% ifequal timeline "True" %}
<br>
{% include "calendar.html" %}
{% endifequal %}
<p class="greyleft2">
</p>
<a href="/problems/">
<img src="/static/images/system/back.png" class="imglink" onmouseover="this.src='/static/images/system/back1.png'" onmouseout="this.src='/static/images/system/back.png';">
</a><a href="/thread/{{thread_id}}" style="margin-left:10px;margin-bottom:4px;">{{thread_title}}</a>

<br>
<div style="color:white;margin-left:10px;margin-right-10px;">
{% include template %}
</div>
<br>
<h4 style="color:white;margin-left:12px;">Tags:</h4>
<fieldset class="debugfield">
<img src="/static/images/system/whitetag.gif" align=left>

{% for id,tag in tags %}
<div id="tagdiv">
<a href="/problemtag/{{id}}">{{tag}}</a></div>
<img src="/static/images/system/whitetag.gif" align=left>
{% endfor %}
<br>
</fieldset><br>

<div id="titlediv"></div>
<div id="editorlink">
<div id="titlediv">
{{cat_title}}
{% ifequal editable "True" %}
<a href="#" onclick="confirmation()" style="float:right;">delete</a>
<a href="/problem/{{id}}?edit=true" style="foat:right;">edit</a>
{% else %}
{% endifequal %}
</div>
</div>
<H2 class="greyleft2">Notes:</H2>
<fieldset class="linkfield">
<fieldset class="ideafield">
<a href="#" onclick="Effect.toggle('d4','appear'); return false;" style="text-align:right;float:right;height:17px;display: block;">
Sort
<img src="/static/images/system/oldest1.png" style="border:none;padding:0px 0px 0px 0px;margin:5px 7px 0px 0px;"/>
</a>
<div id="d4" style="display:none;z-index:6;">
<table style="float:right;z-index:6;">
<tr>
<td style="width:100px;color:white;font-weight: bold;text-align:right;">
By date:
</td>
<td style="width:85px;">
<a href="?sort=idasc" style="float:right;">
Newest
<img src="/static/images/system/newest.png" class="imglink" onmouseover="this.src='/static/images/system/newest1.png'" onmouseout="this.src='/static/images/system/newest.png';">
</a>
<td style="width:85px;">
<a href="?sort=iddesc"style="float:right;">
Oldiest
<img src="/static/images/system/oldest.png" class="imglink" onmouseover="this.src='/static/images/system/oldest1.png'" onmouseout="this.src='/static/images/system/oldest.png';">
</a>
<td style="width:85px;color:white;font-weight: bold;text-align:right;">
By title:
</td>
<td style="width:50px;">
<a href="?sort=titleasc" style="float:right;">
A
<img src="/static/images/system/newest.png" class="imglink" onmouseover="this.src='/static/images/system/newest1.png'" onmouseout="this.src='/static/images/system/newest.png';">
</a>
<td style="width:50px;">
<a href="?sort=titledesc"style="float:right;">
Z
<img src="/static/images/system/oldest.png" class="imglink" onmouseover="this.src='/static/images/system/oldest1.png'" onmouseout="this.src='/static/images/system/oldest.png';">
</a>
</td>
</tr>
</table>
</div>
<ul class="ulfield">
{% for u,t,s,v in notes %}
<li>
<b><a href="/note/{{u}}"</b>{{t}}<br> 
</li>
{% endfor %}
</ul>
<br>
</fieldset>
<div id="linkdiv"><a href="#" onclick="Effect.toggle('d3','appear'); return false;" style="width:100%;height:17px;display: block;">Add Note</a></div>
<div id="d3" style="display:none;">
<div id="split">
    <h3><span></span></h3>
    <div class="content">
        <form action="/problem/{{id}}" method="post">
        {{ form.as_p }}
        <input type="submit" value="Add" />
        </form>
    </div>
</div>
</div>
</fieldset>
<br>
{% endblock %}
{% block extrabody %}
onload="onLoad();" onresize="onResize();" 
{% endblock %} 
