{% extends "base.html" %}
{% block meta %}
<script type="text/javascript" src="/static/js/ste/SimpleTextEditor.js"></script> 
<link rel="stylesheet" type="text/css" href="/static/css/SimpleTextEditor.css"> 
<script src="/static/js/calendar.js" type="text/javascript"></script>
<script language="javascript" src="/static/js/datepick/ts_picker.js">//Script by Denis Gritcyuk: tspicker@yahoo.com</script>
<link rel="stylesheet" type="text/css" href="/static/css/calendar.css"/>
{% include "timeline.html" %}
  Timeline.loadXML("/static/xml/projects.xml", function(xml, url) { eventSource.loadXML(xml, url); });
}
</script>
{% endblock %}
{% block title %}
{% ifequal logged "True" %}
Welcome {{ user }}
{% else %}
Log-in please
{% endifequal %}
{% endblock %}
{% block content %}
<br>
<div id="editorlink">
<div id="titlediv">
All Problems
<br>
<br>
</div>
</div>
{% include "calendar.html" %}
<br>
<form name="article" action="/problems/" method="POST"> 

<fieldset class="todofield">
<a href="#" onclick="Effect.toggle('d4','appear'); return false;" style="text-align:right;float:right;height:17px;display: block;">
Sort
<img src="/static/images/system/oldest1.png" style="border:none;padding:0px 0px 0px 0px;margin:5px 7px 0px 0px;"/>
</a>
<div id="d4" style="display:none;z-index:6;">
<table style="float:right;z-index:6;">
<tr>
<td style="width:100px;color:white;font-weight: bold;text-align:right;">
By date:
</td>
<td style="width:85px;">
<a href="/problems/?sort=idasc" style="float:right;">
Newest
<img src="/static/images/system/newest.png" class="imglink" onmouseover="this.src='/static/images/system/newest1.png'" onmouseout="this.src='/static/images/system/newest.png';">
</a>
<td style="width:85px;">
<a href="/problems/?sort=iddesc"style="float:right;">
Oldiest
<img src="/static/images/system/oldest.png" class="imglink" onmouseover="this.src='/static/images/system/oldest1.png'" onmouseout="this.src='/static/images/system/oldest.png';">
</a>
<td style="width:85px;color:white;font-weight: bold;text-align:right;">
By title:
</td>
<td style="width:50px;">
<a href="/problems/?sort=titleasc" style="float:right;">
A
<img src="/static/images/system/newest.png" class="imglink" onmouseover="this.src='/static/images/system/newest1.png'" onmouseout="this.src='/static/images/system/newest.png';">
</a>
<td style="width:50px;">
<a href="/problems/?sort=titledesc"style="float:right;">
Z
<img src="/static/images/system/oldest.png" class="imglink" onmouseover="this.src='/static/images/system/oldest1.png'" onmouseout="this.src='/static/images/system/oldest.png';">
</a>
</td>
</tr>
</table>
</div>
<br><br>
{% for a,b,c,x,y,d,e,f,g,h in projects %}
<h2 class="greyleft2">
<a href="/app/{{a}}">
<img style="border:none;margin-left:10px;margin-right:20px;padding-top:3px;" align=left src="/static/images/icons/event.png">{{y}}
</a>
<small style="color:lightgrey;">{{x}}</small>
<br>
<a href="/problem/{{a}}">
Notes:{{e}} Links:{{f}} Ideas:{{g}} Todos:{{h}}</a></h2>
<br><br><br>
{% endfor %}
<div id="linkdiv"><a href="#" style="width:100%;height:17px;display: block;">New project</a></div>

<br>
{% endblock %}
{% block extrabody %}
onload="onLoad();" onresize="onResize();" 
{% endblock %} 

