<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">                                          
<html>
<head>
                                                         
<meta http-equiv="content-type" content="text/html; charset=UTF-8">                                
<meta name="author" content="cisary (cisary@gmail.com)">
<meta name="menu-author" content="Tom@Lwis (http://www.lwis.net/free-css-drop-down-menu/)">

{% include "style.html" %}
</head>
<body>
<div id="header">

{% include "idemenu.html" %}
{% include "shadow.html" %}

</div>
</body>
</html>
