<fieldset class="todofield">
<a href="#" onclick="Effect.toggle('d','appear'); return false;" style="text-align:left;float:left;height:17px;display: block;">
<img src="/static/images/system/timeline.png" style="border:none;padding:0px 0px 0px 0px;margin:5px 7px 0px 0px;"/>
Timeline
</a>
<br>
<br>
<div id="d" style="z-index:6">
<div id="my-timeline" class="timeline"></div>
<div id="calendar">
<script language="JavaScript">
var pix = new Array();
for (i=0; i<12; i++) {
	pix[i] = new Image();
	pix[i].src = '/static/images/fractals/fractal' + i + '.jpg';
}
var thisMonth = new calendar('thisMonth',new Date(),pix);
document.write(thisMonth.write());
</script>
</div>
</div>
</fieldset>
