{% extends "base.html" %}
{% load i18n %}
{% block formtitle %}
{% trans "User login" %}
{% endblock %}
{% block meta %}
<script type="text/javascript">
	$(function() {
		$("input[type='text'], input[type='password']").addClass("text");
		$("#id_username").focus();
	});
</script>
{% endblock %}
{% block content %}
<br>
<div id="titlediv">
<center>
Login
</center>
<br>
</div>
<center>
<fieldset class="todofield">
<div id="split">
    <h3></h3>
    <div class="content">
    <p>
	<form action="{% if next %}?next={{ next }}{% endif %}" method="post" accept-charset="utf-8">

		<label for="id_username">{% trans "Username" %}</label>
		<p>{{ form.username }}
			{% if form.username.errors %}
				<span class="quiet red">{{ form.username.html_error_list }}</span>
			{% endif %}
		</p>
		<label for="id_password">{% trans "Password" %}</label>
		<p>{{ form.password }}
			{% if form.password.errors %}
				<span class="quiet red">{{ form.password.html_error_list }}</span>
			{% endif %}
		</p>
		{% if form.non_field_errors %}
			<ul class="quiet red">{{ form.non_field_errors.as_ul }}</ul>
		{% endif %}

	<p><input type="submit" value="{% trans 'Login' %}" /></p>
	</form>
    </p>
    </div>
</fieldset>
</center>
{% endblock %}
