{% extends "idebase.html" %}
{% block content %}
<div id="ide-border">
<br>
<div class="border">
<form action="/ide/{{problem_id}}/{{project_id}}/" method="post" name="templateform" id="templateform"> 
<input type="hidden" name="id" value="{{openedid}}"/>
<input type="hidden" name="type" value="InputGeneratorFile"/>
<textarea id="code" name="template">
{% include openedtemplate %}
</textarea>
</form>
</div>
<br>
</div>
<script type="text/javascript">
// <![CDATA[
if (!window.$) {window.$ = function(id) { return document.getElementById(id); }}
var shadowedBorder    = RUZEE.ShadedBorder.create({ corner:7, shadow:22 });
shadowedBorder.render('ide-border');

  var editor = CodeMirror.fromTextArea('code',{
    parserfile: ["tokenizejavascript.js", "parsejavascript.js"],
    stylesheet: ["/static/css/jscolors.css"],
    path: "/static/js/codemirror/",
    height: "94%",
    autoMatchParens: true
  }
  );
// ]]>
</script>
{% endblock %}


