{% extends "idebase.html" %}
{% block content %}
<div id="smallide-border">
<br>
<fieldset style="border:0px solid grey;color:white;font-size:14px;text-align:center;">
Rename project
<br>
<br>
<div style="color:white;font-weight:bold;">
<p>
<center>
<form action="/ide/{{problem_id}}/{{project_id}}/" method="post">
<input type="hidden" name="type" value="renameProject"/>
Title:
<input type="text" name="name" value="{{name}}"><b></b>
<br>
<br>
<input type="submit" value="Rename" />
</form>
</center>
</p>

</fieldset>
<br>
</div>
<script type="text/javascript">
// <![CDATA[
if (!window.$) {window.$ = function(id) { return document.getElementById(id); }}
var shadowedBorder    = RUZEE.ShadedBorder.create({ corner:7, shadow:22 });
shadowedBorder.render('smallide-border');
// ]]>
</script>
{% endblock %}